.meditationTypeContainer {
  position: relative;
}
.meditationType {
  width: 44vw;
  min-height: 29vh;
  max-height: max-content;
  background-color: #ffffff;
  border-radius: 8px;
}
.meditationTypeContent {
  padding: 5px 0.4rem;
}
.meditationTypeImg {
  width: 44vw;
}
.title {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 0.3rem;
}
.description {
  font-size: 11px;
  font-weight: 500;
  /* padding-top: 8px; */
}
.info {
  width: 25px;
  height: 25px;
  position: absolute;
  top: -10px;
  right: -8px;
}

@media (min-width: 768px)
{
  .meditationType{
    display: flex;
    height: 3vh; 
  }
  .meditationTypeImg {
    width: 20vw;
    /* height: 45vh; */
    object-fit: contain;
  }
  .meditationTypeContent {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .meditationTypeContainer {
  position: relative;
}
.title {
  font-size: 20px;
  font-weight:800px;
  margin-bottom: 0.3rem;
}

.description {
  font-size: 14px;
  font-weight: 400;
  /* padding-top: 8px; */
}

.info {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -10px;
  right: -8px;
}
  
}