.todoForm {
  height: 25vh;
  display: grid;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.todoFormContainer {
  display: grid;
  justify-content: center;
  gap: 1rem;
}
.textField,
.addButton {
  width: 90vw;
}
.alert {
  width: 90vw;
}
/* RESPONSIVENESS FOR LARGE SCREEN */

@media (min-width: 768px) {
  .todoForm {
    padding-bottom: 0;
  }
  .textField,
  .addButton {
    width: 60vw;
  }
  .alert {
    width: 60vw;
  }
}
