.todoForm {
  height: 25vh;
  display: grid;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
}

.todoFormContainer {
  display: grid;
  justify-content: center;
  gap: 1rem;
}
