.greetingsNavContainer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem 0rem 1rem;
  gap: 1rem;
}
.helloSection {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}
.greetingsMessage {
  font-weight: bolder;
  font-size: 1rem;
}
.navigationButtons {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  padding-top: 0.5rem;
  cursor: pointer;
}
.navigationButtons img {
  width: 2rem;
  height: 2rem;
}
.subMenu {
  margin-top: 10%;
}

/* RESPONSIVENESS FOR LARGE SCREEN */

@media (min-width: 768px) {
  .greetingsNavContainer {
    width: 80vw;
    margin: auto;
  }
  .subMenu {
    width: 200px;
    margin-top: 3%;
    /* margin-right: 10%; */
  }
}
