.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 2rem auto;
}
.inputField {
  width: 75vw;
}
.register {
  width: 75vw;
  padding: 10px 0px;
  border-radius: 4px;
  background: linear-gradient(180deg, #fda52b 21.3%, #fe7401 100%);
}

.login p {
  text-align: center;
}

.signup {
  text-align: center;
}

.image {
  display: flex;
  justify-content: center;
}
.alert {
  width: 75vw;
}

/* RESPONSIVENESS FOR LARGE SCREEN */

@media (min-width: 768px) {
  .form {
    margin: 1rem auto;
  }
  .inputField {
    width: 40vw;
  }
  .register {
    width: 40vw;
  }
  .alert {
    width: 40vw;
  }
}
