.blog {
  padding: 1rem;
}
.blogImg {
  width: 100%;
  margin-top: 70px;
}
.blogTitle {
  margin: 1rem auto;
}
.blogImgContainer {
  display: flex;
  justify-content: center;
}

/* RESPONSIVENESS FOR LARGE SCREEN */

@media (min-width: 768px) {
  .blog {
    padding: 3rem;
    width: 70vw;
    margin: auto;
  }
  .blogImg {
    width: 70%;
  }
  .blogTitle {
    padding: 2rem;
    font-size: 4rem;
  }
  .blogContent {
    padding: 0 3rem 2rem 3rem;
  }
}
