/* IMCOMING MESSAGE */
.cs-message--incoming .cs-message__content,
.cs-message__content {
  background-color: #ffe0b2;
  /* color: white; */
}

/* OUTGOING MESSAGE */
.cs-message--outgoing .cs-message__content {
  background-color: #2c2c2c;
  margin: 1rem auto;
  font-weight: 500;
  color: white;
}

/* INPUT MESSAGE FIELD */
.cs-message-input__content-editor-wrapper,
.cs-message-input__content-editor,
.cs-message-input__content-editor-container {
  background-color: transparent;
}

/* Chaning Color */

.cs-chat-container .cs-message-input .cs-message-input__content-editor-wrapper:first-child {
  margin: 0px;
}

/* Changing Margin Left */

.cs-button--send {
  color: #2c2c2c;
}

/* Changing Send Button Color */

@media (min-width: 768px) {

  .cs-message-input__content-editor-wrapper,
  .cs-message-input__content-editor,
  .cs-message-input__content-editor-container {
    width: 50%;
    background-color: transparent;
  }

  .cs-message--outgoing .cs-message__content {
    background-color: #2c2c2c;
    margin: 1rem auto;
    font-weight: 500;
    color: white;
    width: 50%;
  }

  
}