.meditateContainer{
    /* background-image: linear-gradient(180deg, #FDA026 0%, #F5F1E5 22.92%, #F3EFE4 79.17%, #6E83B7 100%); */
    background-image: linear-gradient(180deg, #FDA026 0%, #F5F1E5 22.92%, #F3EFE4 79.17%);
    height: 100vh;
}
.meditationCategory{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0rem;
}