.resources {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    #fda026 0%,
    #f5f1e5 22.92%,
    #f3efe4 65.17%,
    #6e83b7 100%
  );
  padding-bottom: 2rem;
  position: relative;
}

.resourcesContainer {
  padding-top: 4rem;
}

.meditate {
  position: absolute;
  top: 15%;
  right: 7%;
  width: 130px;
}

/* RESPONSIVENESS FOR LARGE SCREEN */

@media (min-width: 768px) {
  .cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    width: 80vw;
    margin: 3rem auto;
  }
}
