.imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  padding-top: 48px;
  width: 20%;
}
.loginScreenOne {
  padding: 32px;
}

/* RESPONSIVENESS FOR LARGE SCREEN */

@media (min-width: 768px) {
  .logo {
    width: 120px;
  }
}
